<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Teacher</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Create a Teacher:</h1>

<form th:action="@{/addTeacher}"
      th:object="${teacherForm}" method="POST">
    First Name:
    <input type="text" th:field="*{firstName}"/>
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <input type="submit" value="Create"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>