<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Update Subject</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <h1>Update a Subject:</h1>

    <form th:action="@{/updateSubject}" th:object="${subjectForm}" method="POST">
        <input type="hidden" th:field="*{id}" />
        Title:
        <input type="text" th:field="*{title}" th:placeholder="${subjectData.title}" />
        <br />
        Teacher:
        <select name="id" id="id">
            <option th:value="${subjectData.teacher.id}" th:text="${subjectData.teacher.lastName}"></option>
            <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.lastName}"></option>
        </select>
        <br />
        <input type="submit" value="Update" />
    </form>

    <br />

    <!-- Check if errorMessage is not null and not empty -->

    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">
        ...
    </div>

</body>

</html>